/* First block */

.first_block{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    background-color: var(--lightGrey);
    height: 620px;
    position: relative;
}
.first_block_div{
    grid-column: 2;
    grid-row: 1;
    margin-top: 150px;
}
.first_block_div_img{
    grid-column: 3;
    grid-row: 1;
    margin-top: 150px;

}
.first_block_div_button{
    border: solid var(--lightBrown) 1pt;
    padding: 10px;
    background-color: white;
}
.first_block_div_illust{
    position: absolute;
    bottom: 0;
    right: 0;
}

/*Second Block*/

.second_block{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    height: 465px;
}
.second_block_img{  
    margin-top: 40px;
    grid-column: 2;
    grid-row: 1;
}
.second_block_div{
    margin-top: 40px;
    grid-column: 3;
    grid-row: 1;
    margin-left: 80px;
}
.second_block_div_button{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 50px;
}
.second_block_div_button_button_un{
    border: solid var(--red) 1pt;
    background-color: var(--red);
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    width: 200px;
    height: 50px;   
}

.second_block_div_button_button_deux{
    border: solid var(--lightBrown) 1pt;
    padding: 10px;
    font-size: 15px;
    color: var(--lightBrown);
    background-color: white;
    margin-left: 40px;
    width: 200px;
    height: 50px;
}
 
/*Thrid bloc*/

.third_block{
    background-color: var(--lightGrey);
}
.third_block_div{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 2fr 1fr;
    padding-top: 30px;
}
.third_block_div_date{
    grid-column: 2;
    grid-row: 1;
    display: flex;
    align-items: center;
    border: solid black 1px;
    width: 150px;
    height: 40px;
}
.third_block_div_para{
    display: flex;
    flex-direction: row;
    grid-column: 5;
    grid-row: 1;
    margin-left: auto;
}
.third_block_list{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 2fr 1fr;
    list-style-type: none;
    height: 450px;

}
.third_block_list_1{
    grid-column: 2;
    grid-row: 1;
}
.third_block_list_2{
    grid-column: 3;
    grid-row: 1;
}
.third_block_list_3{
    grid-column: 4;
    grid-row: 1;
}
.third_block_list_4{
    grid-column: 5;
    grid-row: 1;
}
.third_block_list_box{
    background-color: white;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    height: 350px;
}
.third_block_list_close{
    color: var(--red);
    margin-top: 82px;
}
.third_block_list_close--modif  {
    color: var(--red);
    margin-top: 59px;
}
.third_block_list_2_para{
    color: var(--darkGrey);
    display: flex;
    align-items: center;
}

/*Fourth block*/
.fourth_block_titre{
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
}
.fourth_block_titre_para{
    grid-column: 2;
    grid-row: 1;
    margin-left: 35%;
    margin-bottom: 50px;
}
.fourth_block_list{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
    list-style-type: none;
}
.fourth_block_list_un{
    grid-column: 2;
    grid-row: 1;
}
.fourth_block_list_deux{
    grid-column: 3;
    grid-row: 1;
}
.fourth_block_list_trois{
    grid-column: 4;
    grid-row: 1;
}
.fourth_block_list_all{
    -webkit-box-shadow: 2px 1px 15px 8px rgba(0,0,0,0.18); 
    box-shadow: 2px 1px 15px 8px rgba(0,0,0,0.18);
    width: 405px;
    height: 550px;
}
.fourth_block_list_button{
    border: solid var(--lightBrown) 1pt;
    padding: 10px;
    font-size: 15px;
    color: var(--lightBrown);
    background-color: white;
    margin-left: 70px;
    width: 200px;
    height: 50px;
    margin-top: 50px;
}
.fourth_block_list_button--modif{
    border: solid var(--lightBrown) 1pt;
    padding: 10px;
    font-size: 15px;
    color: var(--lightBrown);
    background-color: white;
    margin-left: 70px;
    width: 200px;
    height: 50px;
    margin-top: 21px;
}
.fourth_block_list_taille_para{
    padding-left: 15px;
    padding-right: 15px;
}
.fourth_block_list_image{
    position: relative;

}
.fourth_block_list_postIt{
    background-color: var(--lightBrown);
    color: white;
    position: absolute;
    padding: 10px;
    width: 150px;
    bottom: 0;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
}
.fourth_block_lastBlock{
    display: flex;
    justify-content: center;
}
.fourth_block_lastBlock_para{
    width: 250px;
    background-color: var(--lightBrown);
    margin-top: 25px;
}

/*fifth block*/

.fifth_block{
    background-color: var(--lightGrey);
    margin-top: 60px;
    padding-bottom: 60px
    ;
}
.fifth_block_titre{
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
}
.fifth_block_titre_para{
    grid-column: 2;
    grid-row: 1;
    margin-left: 35%;
    margin-top: 40px;
    margin-bottom: 50px;
}
.fifth_block_list{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
    list-style-type: none;
}
.fifth_block_list_un{
    grid-column: 2;
    grid-row: 1;
}
.fifth_block_list_deux{
    grid-column: 3;
    grid-row: 1;
}
.fifth_block_list_trois{
    grid-column: 4;
    grid-row: 1;
}
.fifth_block_list_all{
    -webkit-box-shadow: 2px 1px 15px 8px rgba(0,0,0,0.18); 
    box-shadow: 2px 1px 15px 8px rgba(0,0,0,0.18);
    width: 405px;
    height: 550px;
}
.fifth_block_list_button{
    border: solid var(--lightBrown) 1pt;
    padding: 10px;
    font-size: 15px;
    color: var(--lightBrown);
    background-color: white;
    margin-left: 70px;
    width: 200px;
    height: 50px;
    margin-top: 50px;
}
.fifth_block_list_button--modif{
    border: solid var(--lightBrown) 1pt;
    padding: 10px;
    font-size: 15px;
    color: var(--lightBrown);
    background-color: white;
    margin-left: 70px;
    width: 200px;
    height: 50px;
    margin-top: 21px;
}
.fifth_block_list_taille_para{
    padding-left: 15px;
    padding-right: 15px;
}
.fifth_block_list_image{
    position: relative;
}
.fifth_block_list_postIt{
    background-color: var(--lightBrown);
    color: white;
    position: absolute;
    padding: 10px;
    width: 150px;
    bottom: 0;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
}
.fifth_block_list_postIt--modif{
    background-color: var(--lightBrown);
    color: white;
    position: absolute;
    padding: 10px;
    width: 300px;
    bottom: 0;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
}
.fifth_block_lastBlock{
    display: flex;
    justify-content: center;
}
.fifth_block_lastBlock_para{
    width: 250px;
    background-color: var(--lightBrown);
    margin-top: 25px;
}
.image_details{
    height: 250px;
    width: 100%;
    object-fit: cover;
}

/*Application mobile chateau*/

.sixth_block{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    margin-top: 50px;
}
.sixth_block_image{
    grid-column: 2;
    grid-row: 1;
    display: flex;
    justify-content: center;
}
.sixth_block_para{
    grid-column: 3;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sixth_block_list_button{
    border: solid var(--lightBrown) 1pt;
    padding: 10px;
    font-size: 15px;
    color: var(--lightBrown);
    background-color: white;
    width: 200px;
    height: 50px;
    margin-top: 21px;
}

/*seventh block*/

.seventh_block{
    background-color: var(--lightGrey);
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;

}
.seventh_block_lastBlock{
    display: flex;
    justify-content: center;
}
.seventh_block_lastBlock_para{
    border: solid var(--lightBrown) 1px;
    width: 250px;
    background-color: white;
    margin-top: 25px;
}
.seventh_block_para{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.seventh_block_list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    list-style-type: none;
    position: relative;
}
.seventh_block_list_un{
    grid-column: 1;
    grid-row: 1;
}
.seventh_block_list_deux{
    grid-column: 2;
    grid-row: 1;
}
.seventh_block_list_trois{
    grid-column: 3;
    grid-row: 1;
}
.seventh_block_list_quatre{
    grid-column: 4;
    grid-row: 1;
}
.seventh_block_list_cinq{
    grid-column: 5;
    grid-row: 1;
}
.seventh_block_list_detail_image{
    margin-left: 10px;
} 
.image_details_list{
    height: 400px;
    width: 100%;
    object-fit: cover;
}
.seventh_block_list_fleche_droite{
    background-color: var(--lightBrown);
    border-radius: 100%;
    width: 70px;
    height: 70px;
    position: absolute;
    right: 0;
    margin-right: 10px;
    margin-top: 165px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;

}
.seventh_block_list_fleche_gauche{
    background-color: var(--lightBrown);
    border-radius: 100%;
    width: 70px;
    height: 70px;
    position: absolute;
    left: 0;
    margin-left: 60px;
    margin-top: 165px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

/*eighth block*/

.eighth_block{
    
}
.eighth_block_block{
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.eighth_block_block_horloge{
    grid-column: 2;
    grid-row: 3 / 1;
    border: solid grey 1px;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 800px;
    height: 450px;

}
.eighth_block_block_horloge_image{
    display: flex;
    justify-content: center;
    background-color: white;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: -20px;
    width: 60px;
}
.eighth_block_block_horloge_image_details{
    margin-bottom: 20px;
}
.eighth_block_block_bouton{
    grid-column: 3;
    grid-row: 2;
}
.eighth_block_lastBlock{
    display: flex;
    justify-content: center;
}
.eighth_block_lastBlock_para{
    width: 650px;
    background-color: var(--lightBrown);
    margin-top: 25px;
}
.eighth_block_block_horloge_firstBloc{
    display: flex;
    flex-direction: row;
}
.eighth_block_block_horloge_secondBloc{
    display: flex;
    flex-direction: row;
}
.eighth_block_block_info{
    grid-column: 3;
    grid-row: 1;
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    margin-bottom: 50px;
    justify-content: space-between;
}

.eighth_block_block_info_carte{
    padding: 50px;
    border: solid grey 1px;
    position: relative;

}
.eighth_block_block_info_carte--modif{
    padding: 50px;
    border: solid grey 1px;
    margin-right: 48px;
    position: relative;
}
.eighth_title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.eighth_block_block_horloge_taille{
    padding: 45px;
    margin-left: 110px;
    margin-top: 20px;
}

.eighth_block_block_info_image{
    display: flex;
    justify-content: center;
    background-color: white;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: -30px;
    width: 60px;
}
.eighth_block_block_info_image--modif{
    display: flex;
    justify-content: center;
    background-color: white;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: -22px;
    width: 60px;
}
.eighth_block{
    margin-bottom: 50px;
}